.BadgeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;

    li {
        padding: 5px;
    }
}