.ProfilePage {
  .UserInfo {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    b {
      color: rgb(182, 182, 182);
      padding-right: 10px;
    }
  }

  .Badges {
    background-color: rgba(218, 165, 32, 0.188);
    color: white;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;

    h2 {
      display: flex;
      justify-content: center;
    }
  }
}
