.CustomButton {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: .3px;
}

.DashboardButton {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: .3px;
}

.QuizButton {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: .3px;
    width: 350px;
}