.CustomButton {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: .3px;
}

.DashboardButton {
    padding: 11px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.256);
    font-family: inherit;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    width: 110px;
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
}

.QuizButton {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: .3px;
    width: 350px;
}