.SignInForm {
    width: 350px;

    button {
        display: flex;
        align-items: center;
        background-color: midnightblue;
        color: white; 
    }
    button:hover {
        opacity: .5;
        transition: all .5s ease-in-out;
      }
    img {
        width: 30px;
        padding: 4px;
    }

}
