.SignUpForm {
    width: 350px;
    display: grid;
    gap: 10px;

    input {
        border-radius: 8px;
        padding: 5px;
        border: none;
    }
    
    button {
        display: flex;
        align-items: center;
        background-color: midnightblue;
        color: white;
        justify-content: center;    
    }

    button:hover {
        opacity: .5;
        transition: all .5s ease-in-out;
      }

      h2 {
        text-align: center;    
      }

    img {
        width: 30px;
        padding: 4px;
    }

}