.Welcome {
    display: flex;
    flex-direction: column;
    width: 350px;


    h1 {
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    img {
        width: 320px;
        height: 320px;
    }

}