.AboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.266);
    padding: 5px;
    
    img {
        padding: 10px;
        width: 150px;
        height: 150x;
        border-radius: 50%;
    }
    a img {
        width: 60px;
        height: 60px;
        border-radius: 0%;
        filter: invert(80%);
    }   
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    p {
        color: white;
        font-weight: 600;
        text-align: center;
    }

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
