.AboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.474);
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    
    img {
        padding: 10px;
        width: 200px;
        height: 150x;
        border-radius: 50%;
    }
    a img {
        width: 60px;
        height: 60px;
        border-radius: 0%;
    }   
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    p {
        color: black;
        text-align: center;
        
    }

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
